@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(180, 178, 178);
    font-family: 'PT Serif', serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    width: 85vw;
}
.container{
    display: flex;
}
.infocontainner{
    height: 55vh;
    width: 75vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 55px;
}
.name{
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
}
.about{
    font-size: 25px;
}
.moreabout{
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    width: 180px;
}
.buttons .btn-sm{
    font-size: 17px;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.devPic img{
    height: 55vh;
}
.main .contactform h1{
    margin-top: -51px;
}
.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-size: 'Fira Sans', sans-serif;
    margin: 10px 88px;
}
.contactform h1{
    font-family: 'Fira Sans', sans-serif;
    padding: 12px 0;
    font-weight: 500;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogContainer{
    margin: 40px 88px;
}
.blogItem{
    margin: 20px;
}
h1{
    font-family: 'Fira Sans', sans-serif;
}
p{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(133, 128, 128);
}
.intro{
    margin: 10px 88px;
}
.main .intro h2{
    margin-top: 80px;
}
.btn-sm{
    background-color: dodgerblue;
    border-radius: 20px;
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn-sm{
    color: white;
    background-color: dodgerblue;
}
.btn-sm:hover{
    color: dodgerblue;
    background-color: white;
}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}
.intro p{
    margin: 12px;
    font-family: 'Fira Sans', sans-serif;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    font-weight: 900;
}
.skill{
    width: 265px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
}
.hundred{
    height: 8px;
    width: 265px;
    background-color: blueviolet;
    border: 2px solid black;
}
.fifty{
    height: 8px;
    width: 125px;
    background-color: aqua;
    border: 2px solid black;
}
.t5{
    height: 8px;
    width: 75px;
    background-color: yellow;
    border: 2px solid black;
}
.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.imgs img{
    width: 500px;
    padding: 20px;
}
.imgs h1{
    text-align: center;
    margin: 10px;
}
.infocontainner h1{
    margin-top: 0px
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 235px;
}
